*, *::after, *::before{
    box-sizing: border-box; 
}

#container {
  margin: 0 auto;
  margin-top: 50px;
  width: 1000px;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
    background-color:white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 700px;
    height: 650px;
    padding: 10px;
    border: 1px; 
    margin: 25px;
    padding: 30px;
}


body {
    background-image: url("https://images.unsplash.com/photo-1564862083038-9f45677eb2a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"); 
    background-color: navajowhite; 
    background-attachment: fixed;
}


h1 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px 24px;
    overflow: hidden;
    background-color: #1f7a1f;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    display: inline; 
    color: white;
}


li a:hover {
background-color: #ff6600;
}

li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    color: #e6e6e6;
    float: right;
    border-right: 1px solid #bbb;
    text-decoration: none;
    margin: 4px;
    padding: 4px;
}

.khadijah {
    font-weight: bolder;
    text-size-adjust: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e6e6e6; 
    border-style: solid;
    border-color: pink;
    padding: 2px;
    margin: 2px;
}

.fixed-bottom {
    
}